@import url('Montserrat-Regular.ttf');

.reveal h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 3.0em;

}

.reveal section img {
border: none;
box-shadow: none;

}

#introgif {
	border-radius: 50%;
}


#import-this > h1 {
    text-transform: none;
}

#race, #turbo {
  position: relative;
  top: -6em;
  color: black;
  font-size: 1.2em;
}

#pypy > h1 {
  text-transform: none;
  position: relative;
  top: -0.1em;
}

#shrek{
	border-radius: 50%;
}